<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KaraokeLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A24F8051CC291CE00E475F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A24F8211CC291D000E475F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A24F82C1CC291D000E475F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
